.card-course-item {
  margin-top: 16px;
}
.checkbox-option {
  width: 140px;
  margin: 0 16px;
}
.user-avatar {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  margin-right: 4px;
}
.information li {
  list-style-type: none;
}
.min-height {
  min-height: 350px;
}
.size {
  min-height: 50px;
}
.main {
  margin-top: 50px;
  margin-bottom: 50px;
  margin-left: 100px;
  margin-right: 100px;
}
.img-card {
  height: 450px;
}
.img-slider {
  height: 480px;
  width: 100%;
}
