<div class="container mt-4">
    <h2 class="text-center">Trang quản lý </h2>
    <a href="/admin/courses">Khoá học</a>
    <a href="/admin/docs">Tài liệu </a>
    <a href="/admin/users">Tài khoản</a>
</div>