<div class="mt-4">
    <h3 class="text-center">Đăng khoá học</h3>
    <form method="post" action="/courses/store">
        <div class="mb-3">
            <label for="name" class="form-label">Tên bài học</label>
            <input type="text" class="form-control" id="name" name="name">
        </div>
        <div class="mb-3">
            <label for="description" class="form-label">Mô tả</label>
            <textarea class="form-control" id="description" name="description"></textarea>
        </div>
        <div class="mb-3">
            <label for="videoId" class="form-label">ID video</label>
            <input type="text" class="form-control" id="videoId" name="videoId">
        </div>
        <div class="mb-3">
            <label for="level" class="form-label">Mức độ </label>
            <input type="text" class="form-control" id="level" name="level">
        </div>
        <button type="submit" class="btn btn-primary">Thêm khoá học</button>
    </form>
</div>