<div class="mt-4">
    <h3 class="text-center">Đăng khoá học</h3>
    <form method="post" action="/courses/store">
        <div class="mb-3">
            <label for="name" class="form-label">Tên bài học</label>
            <input type="text" class="form-control" id="name" name="name" required>
        </div>
        <div class="mb-3">
            <label for="description" class="form-label">Mô tả</label>
            <textarea class="form-control" id="description" name="description" required></textarea>
        </div>
        <div class="mb-3">
            <label for="videoId" class="form-label">ID video</label>
            <input type="text" class="form-control" id="videoId" name="videoId" required>
        </div>
        <div class="mb-3">
            <label for="level" class="form-label">Mức độ </label>
            <input type="text" class="form-control" id="level" name="level">
            {{!-- <select class="form-select form-select-sm checkbox-option" aria-label="Default select example" name="action"
                required>
                <option value="">--Mức độ--</option>
                <option value="l1">Cơ bản</option>
                <option value="l2">Trung bình</option>
                <option value="l3">Nâng cao</option>
            </select> --}}
        </div>
        <button type="submit" class="btn btn-primary">Ảnh đại diện</button>
        <button type="submit" class="btn btn-primary">Thêm khoá học</button>
    </form>
</div>