<div class="container mt-4">
    <div class="row">
        <div class="col-lg-10">
            <h2 class="title text-center mb-4">{{doc.name}}</h2>
            <iframe src="https://drive.google.com/file/d/{{doc.file}}/preview" width="940" height="1080" allow="autoplay"></iframe>
            <h5 class="mt-4">Tác giả: {{doc.author}}</h5>
            <p class="descripton mt-4">{{doc.description}}</p>
        </div>
        <div class="col-lg-2">
        </div>
    </div>
</div>