<div class="mt-4">
    <div class="row">
        <div class="col-lg-12">
            <h2 class="title text-center">{{doc.name}}</h2>
            <iframe src="https://drive.google.com/file/d/{{doc.file}}/preview" width="1110" height="960" allow="autoplay"></iframe>
            <h5>Tác giả: {{doc.author}}</h5>
            <p class="descripton">{{doc.description}}</p>
        </div>
    </div>
</div>