<div class="footer">
    <div class="footer-left">
        <div class="footer-item mr-4">
            <a href="/introduce" class="color-text">Giới thiệu</a>
            <a href="" class="color-text">Tác giả</a>
        </div>
        <div class="footer-item">
            <a href="https://www.facebook.com/hoanguyen2661"><i class="fab fa-facebook color-text"></i></a>
            <a href=""><i class="fab fa-twitter color-text"></i></a>
            <a href="#"><i class="fab fa-linkedin color-text"></i></a>
        </div>
    </div>
    <div class="footer-right">
        
    </div>
</div>