<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">ShareSource</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="/courses"><i class="fab fa-youtube mr-2"></i>Khoá học</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/docs"><i class="fas fa-file-alt mr-2"></i>Tài liệu</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/posts"><i class="fas fa-user-edit mr-2"></i>Bài viết chia sẻ</a>
        </li>
      </ul>
    </div>
    <form action="/search" method="get">
      <div class="input-group size-search">
        <input type="text" name="q" class="form-control" id="search-input" placeholder="Tìm kiếm ...">
        <div class="input-group-append">
          <button type="submit" class="btn btn-outline-secondary"><i class="fas fa-search"></i></button>
        </div>
      </div>
    </form>
    {{#if lcIsAuthenticated}}
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            <img src="{{lcAuthUser.image}}" alt=""
              class="user-avatar mr-2">
            {{lcAuthUser.name}}
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            {{#if lcAuthUser.admin}}
               <a class="dropdown-item" href="/admin/courses">Trang quản lý</a>
            {{/if}}
            <a class="dropdown-item" href="/users/profile">Thông tin tài khoản</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="/me/stored/courses">Khóa học của tôi</a>
            <a class="dropdown-item" href="/me/stored/docs">Tài liệu của tôi</a>
            <a class="dropdown-item" href="/me/stored/news">Bài viết của tôi</a>
            <a class="dropdown-item" href="/me/stored/mess">Tin nhắn</a>
            <div class="dropdown-divider"></div>
            <form method="post" action="/users/logout">
              {{!-- <a class="dropdown-item">Đăng xuất</a> --}}
              <button type="submit" class="btn btn-outline-secondary"><i class="fas fa-sign-out-alt"></i></button>
            </form>
          </div>
        </li>
      </ul>
    </div>
    {{else}}
    <div class="ml-4">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a href="/users/sign-in" class="nav-link">Đăng nhập</a>
        </li>
        <li class="nav-item">
          <a href="/users/sign-up" class="nav-link">Đăng ký</a>
        </li>
      </ul>
    </div>
    {{/if}}

  </div>
</nav>