<div class="mt-4">
    <form method="post" action="">
  <div class="mb-3">
    <label for="search-input" class="form-label">Từ khoá</label>
    <input type="text" name="q" class="form-control" id="search-input" placeholder="Nhập từ khoá ...">
  </div>
  <button type="submit" class="btn btn-primary">Tìm kiếm</button>
</form>
</div>