<form class="container-fluid main-slider" method="post" action="/users/changepass">
  <h2 class="text-center">Thay đổi mật khẩu</h2>
  <div class="form-signin">
    <divn class="form-signin-item">
      <form class="mt-4" method="post" action="">
        <div class="mb-3">
          {{!-- <label for="email" class="form-label">Email</label> --}}
          <input type="password" class="form-control" id="email" name="passwordOld" autocomplete="off" required placeholder="Mật khẩu cũ">
        </div>
        <div class="mb-3">
          {{!-- <label for="password" class="form-label">Mật khẩu</label> --}}
          <input type="password" class="form-control" id="password" name="passwordNew" autocomplete="off" required placeholder="Mật khẩu">
        </div>
        <div class="mb-3">
          {{!-- <label for="password" class="form-label">Mật khẩu</label> --}}
          {{!-- <input type="password" class="form-control" id="password" name="password" autocomplete="off" required placeholder="Xác nhận mật khẩu"> --}}
        </div>
        <div>
          <button type="submit" class="btn btn-primary">Thay đổi mật khẩu</button>
        </div>
      </form>
    </divn>
  </div>
</form>