<form class="container-fluid main-slider" method="post" action="/users/changepass">
  <h2 class="text-center">Thay đổi mật khẩu</h2>
   {{#if error}}
  <div class=" alert alert-warning alert-dismissible fade show" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
    {{error}}
  </div>
  {{/if}}
  <div class="form-signin">
    <divn class="form-signin-item">
      <form class="mt-4" method="post" action="">
        <div class="mb-3">
          <input type="password" class="form-control" id="email" name="passwordOld" autocomplete="off" required placeholder="Mật khẩu cũ">
        </div>
        <div class="mb-3">
          <input type="password" class="form-control" id="password" name="passwordNew" autocomplete="off" required placeholder="Mật khẩu">
        </div>
        <div class="mb-3">
          <input type="password" class="form-control" id="password" name="repasswordNew" autocomplete="off" required placeholder="Xác nhận mật khẩu">
        </div>
        <div>
          <button type="submit" class="btn btn-primary">Thay đổi mật khẩu</button>
        </div>
      </form>
    </divn>
  </div>
</form>