<div class="container">
  <h2 class="text-center">Thông tin tài khoản</h2>
  <form class="mt-4" method="post" action="/users/profile?_method=PUT">
    <div class="mb-3">
      <label for="name" class="form-label">Họ và tên</label>
      <input type="name" class="form-control" id="name" aria-describedby="nameHelp" name="name" autocomplete="off" value="{{lcAuthUser.name}}">
    </div>
    <div class="mb-3">
      <label for="email" class="form-label">Email</label>
      <input type="email" class="form-control" id="email" aria-describedby="emailHelp" name="email" autocomplete="off" value="{{lcAuthUser.email}}">
    </div>
    <div>
      <button type="submit" class="btn btn-primary">Cập nhập</button>
    </div>
    <div class="mt-4">
      <a href="/users/changepass" class="btn btn-primary">Thay đổi mật khẩu</a>
      <a href="#" class="btn btn-primary">Đổi ảnh đại diện</a>
    </div>
    {{!-- <a href="/users/sign-in" class="btn">Đăng nhập</a> --}}
  </form>
</div>