<div class="container">
  <h2 class="text-center">Đăng nhập</h2>
  <form class="mt-4" method="post" action="/users/sign-in">
    <div class="mb-3">
      <label for="email" class="form-label">Email</label>
      <input type="email" class="form-control" id="email" name="email" autocomplete="off" required>
    </div>
    <div class="mb-3">
      <label for="password" class="form-label">Mật khẩu</label>
      <input type="password" class="form-control" id="password" name="password" autocomplete="off" required>
    </div>
    <div class="mb-3 form-check">
      <input type="checkbox" class="form-check-input" id="exampleCheck1">
      <label class="form-check-label" for="exampleCheck1">Ghi nhớ</label>
    </div>
    <div>
      <button type="submit" class="btn btn-primary">Đăng Nhập</button>
    </div>
    <div>
      <a href="/users/sign-up" class="btn">Tạo tài khoản mới</a>
    </div>
  </form>
</div>