<div class="container mt-4">
    <h2 class="text-center">Blog cá nhân</h2>
    <p class="description text-center">Nơi chia sẻ về lập trình, về code</p>
    {{!-- <a href="" class="btn btn-success" data-toggle="modal" data-target="#add-post"
    title="Thêm bài viết"><i class="fa fa-plus"></i></a> --}}
    <a class="btn btn-success" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="fa fa-plus"></i>
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/posts/blog"><i class="fas fa-pen mr-2"></i>Viết blog</a>
          <a class="dropdown-item" href="/posts/question"><i class="fas fa-question mr-2"></i>Đặt câu hỏi</a>
          <a class="dropdown-item" href="/posts/sharecode"><i class="fas fa-code mr-2"></i>Chia sẻ code</a>
        </div>
</div>
