<div class="container mt-4">
    <div class="">
        <h2 class="text-center">Tin nhắn</h2>
        <a class="btn btn-success" href="#" title="Gửi tin nhắn mới"><i class="fa fa-plus"></i></a>
    </div>
    
</div>