<div class="container mt-4">
    <div class="">
        <h2 class="text-center">Bài viết</h2>
        <a class="btn btn-success" href="#" title="Thêm bài viết"><i class="fa fa-plus"></i></a>
    </div>
    <ol class="list-group list-group-numbered mt-4">
        <li class="list-group-item d-flex justify-content-between align-items-start">
            <div class="ms-2 me-auto">
                <div class="fw-bold">Subheading</div>
                Content for list item
            </div>
            <span class="badge bg-primary rounded-pill">14</span>
        </li>
    </ol>
</div>